<label for="province">Provincia:</label>
<select id="province" [(ngModel)]="selectedProvince" class="form-select">
  <option *ngFor="let province of provinces" [value]="province">{{province}}</option>
</select>

<button (click)="filterHotels()" class="btn btn-primary">Filtrar</button>
<button (click)="resetFilter()" class="btn btn-secondary">Resetear</button>

<table class="table">
  <thead>
    <tr>
      <th>Municipio</th>
      <th>Nombre del hotel</th>
      <th>Categoría</th>
      <th>Web</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let hotel of currentHotels">
      <td>{{hotel.municipality}}</td>
      <td>{{hotel.name}}</td>
      <td>{{hotel.category}}</td>
      <td>{{hotel.web}}</td>
    </tr>
  </tbody>
</table>
<ngb-pagination [collectionSize]="totalItems" [(page)]="currentPage" [maxSize]="5" [boundaryLinks]="true"></ngb-pagination>
